.title {
    font-weight: 400;
    font-size: 30px;
    color: var(--primary-color-blue-0);
    margin: 0px;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    color: var(--neutral-color-grey-40);
}

.input-with-icon {
    position: relative;
    display: inline-block;
}

.input-with-icon .icon {
    position: absolute;
    left: 10px;
    top: 60%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--primary-color-blue-0);
    font-size: 16px;
    font-weight: 600;
}

.search-input {
    padding-left: 30px;
    height: 30px;
    font-size: 14px;
}

.search-input {
    width: 600px;
    height: 36px;
    border-radius: 10px;
    background-color: var(--neutral-color-grey-10);
    border: 0px;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #00000066;
}




.pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 75px;
    margin-top: 50px;
    height: 400px;
    width: 100%;
    overflow: auto;
}

.pokedex-viewport {
    height: 400px;
}


.pokedex-viewport::ng-deep .cdk-virtual-scroll-content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 20px 20px;
    height: 400px;
    width: 100%;
    padding-top: 20px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 162px;
    height: 96px;
    border-radius: 20px;
    background-color: var(--neutral-color-grey-10);

}

.pokemon-selected {
    background-color: var(--primary-color-orange-20);
}

.pokemon-sprite {
    width: 100px;
}

.chip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 25px;
    border-radius: 10px;
    background-color: var(--primary-color-blue-0);
    margin-bottom: 20px;
}

.pokemon-name {
    font-weight: 800;
    font-size: 12px;
    margin: 0px;
    color: #FFFFFF !important;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.save-btn {
    width: 222px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--primary-color-blue-0);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    border: 0px;
    margin-bottom: 10px;
}

button:disabled {
    background-color: var(--primary-color-blue-20);
    color: var(--neutral-color-grey-40);
    cursor: not-allowed;
}

.error-message {
    margin-top: 16px;
    padding: 12px;
    background-color: var(--primary-color-blue-0);
    color: #FFFFFF;
    border-radius: 4px;
    border-left: 4px solid var(--primary-color-orange-20);
}

/* Responsive */

@media (max-width: 650px) {
    .pokemon-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .pokedex-viewport::ng-deep .cdk-virtual-scroll-content-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        height: 600px;
    }

    .search-container {
        margin-left: 20px;
    }

    .search-input {
        width: 100%;
    }

    .container-title {
        margin-left: 20px;
    }

    .subtitle {
        font-size: 14px;
    }
}