<p class="title">Pokémon</p>
<p class="subtitle">Selecciona 3 Pokémon para que sean parte de tu equipo</p>
<div class="search-container">
  <div class="input-with-icon">
    <mat-icon class="icon">search</mat-icon>

    <input
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange(searchTerm)"
      placeholder="Buscar por nombre o ID"
      class="search-input"
    />
  </div>
</div>

<div class="pokemon-list">
  @for(pokemon of (pokemonList); track pokemon.name; let i = $index){
  <div
    [ngClass]="isSelected(pokemon) ? 'pokemon pokemon-selected' : 'pokemon'"
    (click)="togglePokemon(pokemon)"
  >
    <img
      [src]="pokemon.sprites.other.home.front_default"
      alt="{{ pokemon.name }}"
      class="pokemon-sprite"
    />
    <div class="chip">
      <p class="pokemon-name">
        #{{ (i + 1).toString().padStart(3, "0") }} {{ pokemon.name }}
      </p>
    </div>
  </div>
  }
</div>

<div class="button-container">
  <button
    color="primary"
    type="submit"
    class="save-btn"
    [disabled]="(selectedPokemon$ | async)?.length !== 3"
    (click)="savePokemon()"
  >
    Guardar
  </button>
</div>
