header{
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 28px 0px #78B1B51A;
}

img {
    width: 138px;
    height: 51px;
}
.user-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.icon {
    color: var(--primary-color-blue-0);
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
}

.text {
    font-weight: 600;
    font-size: 12px;
    margin: 0px;
    color: var(--primary-color-blue-0);
}
