<section>
  <div class="form-data">
    @if(loading$ | async){
    <app-loading></app-loading>
    }@else{

    <app-profile-setup-header
      [title]="
        userExists ? '¡Ya casi términamos!' : '¡Hola! Configuremos tu perfil'
      "
      [subtitle]="
        userExists
          ? 'Revisa la información, y completa lo solicitado.'
          : 'Queremos conocerte mejor.'
      "
    ></app-profile-setup-header>

    <section>
      <app-profile-picture></app-profile-picture>
      @if(userExists){ @if(pokemons.length > 0){
      <app-list-saved-pokemon></app-list-saved-pokemon>
      }@else{
      <app-pokemon-list></app-pokemon-list>
      } }@else{
      <app-user-profile-form></app-user-profile-form>
      }
    </section>
    }
  </div>
</section>
