  :host {
    --primary-color-blue-0: #01426A;
    --primary-color-blue-10: #185A7D;
    --primary-color-blue-30: #2C85BC;
    --neutral-color-grey-40:#868686;
    --neutral-color-grey-10:#F2F2F2;
    --neutral-color-grey-20:#E6E6E6;
    --primary-color-orange-20:#FFC600;
    --primary-color-blue-40:#E7EFF5;
    --primary-color-blue:#9BB8D3;
  }


  