<span class="title-button">
<p class="title">Mis Pokémon</p>
<app-button>
    <mat-icon class="prefix-icon">edit</mat-icon>
    <p class="text">Editar</p>
</app-button>
</span>
<br>
<div class="container-card">
  @for(pokemonItem of pokemon; track pokemonItem.name){
  <div class="card-pokemon">
    <div class="profile">
      <img
        [src]="pokemonItem.sprites.other.home.front_default"
        alt="{{ pokemonItem.name }}"
        class="pokemon-sprite"
      />
      <p class="pokemon-name">{{ pokemonItem.name }}</p>
      <p class="types">{{ setTypes(pokemonItem) }}</p>
    </div>
    <app-stats [stats]="pokemonItem.stats"></app-stats>
  </div>
  }
</div>
